<div id="chest" class="chest">

    <div class="chest-light"></div>

    <div class="chest-particles"></div>

    <div class="chest-shadow"></div>

    <img
        id="chest-closed"
        class="chest-image"
        src="/assets/images/chest/chest_closed.png"
        alt=""
        draggable="false">

    <img
        id="chest-half"
        class="chest-image hidden"
        src="/assets/images/chest/chest_half.png"
        alt=""
        draggable="false">

    <div id="chest-open" class="hidden">

        <img
            id="chest-bottom"
            src="/assets/images/chest/chest-open-bottom.png"
            alt=""
            draggable="false">

        <img
            id="chest-lid"
            src="/assets/images/chest/chest-open-lid.png"
            alt=""
            draggable="false">

    </div>

</div>